$primary01: #1DB954;

$secondary01: #000000;
$secondary02: #191414;
$secondary03: #FFFFFF;

$neutral01: #B2B2B2;
$neutral02: #777777;
$neutral03: #535353;

$genre01: #55A891;
$genre02: #27856A;
$genre03: #5F8109;
$genre04: #F037A5;
$genre05: #AF2896;
$genre06: #AF2896;
$genre07: #477D95;
$genre08: #509BF5;
$genre09: #1D3164;
$genre10: #E8115B;
$genre11: #E13300;
$genre12: #BA5D07;